rules/sch/parts/syntax.xml

<?xml version="1.0" encoding="UTF-8"?>
<pattern xmlns="http://purl.oclc.org/dsdl/schematron">

    <rule context="espd-req:ESPDRequest/cbc:UBLVersionID | espd-res:ESPDResponse/cbc:UBLVersionID">
        <assert id="..."
                test="schemeAgencyID='OASIS-UBL-TC'"
                flag="fatal"></assert>
    </rule>

    <rule context="espd-req:ESPDRequest/cbc:CustomizationID | espd-res:ESPDResponse/cbc:CustomizationID">
        <assert id="..."
                test="schemeName='CustomizationID'"
                flag="fatal"></assert>
        <assert id="..."
                test="schemeAgencyID='BII'"
                flag="fatal"></assert>
        <assert id="..."
                test="schemeVersionID='3.0'"
                flag="fatal"></assert>
    </rule>

    <rule context="espd-req:ESPDRequest/cbc:ID | espd-res:ESPDResponse/cbc:ID">
        <assert id="..."
                test="schemeID='ISO/IEC 9834-8:2008 - 4UUID'"
                flag="fatal"></assert>
        <assert id="..."
                test="schemeAgencyID='EU-COM-GROW'"
                flag="fatal"></assert>
        <assert id="..."
                test="schemeAgencyName='DG GROW (European Commission)'"
                flag="fatal"></assert>
        <assert id="..."
                test="schemeVersionID='1.1'"
                flag="fatal"></assert>
    </rule>

    <rule context="espd-req:ESPDRequest/cbc:VersionID | espd-res:ESPDResponse/cbc:VersionID">
        <assert id="..."
                test="schemeAgencyID='EU-COM-GROW'"
                flag="fatal"></assert>
        <assert id="..."
                test="text() = '1'"
                flag="fatal"></assert>
    </rule>

    <rule context="espd-req:ESPDRequest/cbc:ContractFolderID | espd-res:ESPDResponse/cbc:ContractFolderID">
        <assert id="..."
                test="schemeAgencyID='TeD'"
                flag="fatal"></assert>
    </rule>

    <rule context="cac:Country/cbc:IdentificationCode">
        <assert id="..."
                test="listAgencyID='ISO'"
                flag="fatal"></assert>
        <assert id="..."
                test="listName='ISO 3166-1'"
                flag="fatal"></assert>
        <assert id="..."
                test="listVersionID='1.0'"
                flag="fatal"></assert>
    </rule>



    <rule context="ccv:Criterion/cbc:ID">
        <assert id="..."
                test="@schemeID = 'CriteriaID'"
                flag="fatal"></assert>
        <assert id="..."
                test="@schemeAgencyID = 'EU-COM-GROW'"
                flag="fatal"></assert>
        <assert id="..."
                test="@schemeVersionID = '1.0'"
                flag="fatal"></assert>
    </rule>

    <rule context="ccv:Criterion/cbc:TypeCode">
        <assert id="..."
                test="@listID = 'CriteriaTypeCode'"
                flag="fatal"></assert>
        <assert id="..."
                test="@listAgencyID = 'EU-COM-GROW'"
                flag="fatal"></assert>
        <assert id="..."
                test="@listVersionID = '1.0'"
                flag="fatal"></assert>
    </rule>

    <rule context="ccv-cbc:JurisdictionLevelCode">
        <assert id="..."
                test="@listID = 'CriterionJurisdictionLevelCode'"
                flag="fatal"></assert>

        <assert id="..."
                test="@listAgencyID = 'EU-COM-GROW'"
                flag="fatal"></assert>
        <assert id="..."
                test="@listVersionID = '1.0'"
                flag="fatal"></assert>
    </rule>

    <rule context="ccv:RequirementGroup/cbc:ID">
        <assert id="..."
                test="@schemeAgencyID = 'EU-COM-GROW'"
                flag="fatal"></assert>
        <assert id="..."
                test="@schemeVersionID = '1.0'"
                flag="fatal"></assert>
    </rule>

    <rule context="ccv:Requirement/cbc:ID">
        <assert id="..."
                test="@schemeID = 'CriterionRelatedIDs'"
                flag="fatal"></assert>
        <assert id="..."
                test="@schemeAgencyID = 'EU-COM-GROW'"
                flag="fatal"></assert>
        <assert id="..."
                test="@schemeVersionID = '1.0'"
                flag="fatal"></assert>
    </rule>

</pattern>